<main>  
  <div id="loading-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  
  <div 
    id="gallery-grid"
    infiniteScroll
    [infiniteScrollDistance]="1.5"
    [infiniteScrollThrottle]="100"
    [immediateCheck]="true"
    (scrolled)="onScroll()">
    <mat-grid-list 
        [cols]="cols"
        [rowHeight]="rowHeight"
        [gutterSize]="gutterSize+'px'">
      <mat-grid-tile
        *ngFor="let imageItem of images"
        [rowspan]="item.rows">
        <app-gallery-item  
                        #item 
                        [image]="imageItem" 
                        [rowHeight]="rowHeight" 
                        [gutterSize]="gutterSize"
                        (click)="openGalleryItemModal(imageItem)"
                        >
        </app-gallery-item>
      </mat-grid-tile>
    </mat-grid-list>

    <app-scroll-top></app-scroll-top>
  </div>
</main>
