<main>
  <div id="gallery-grid">
    <mat-grid-list 
        [cols]="cols"
        [rowHeight]="rowHeight"
        [gutterSize]="gutterSize+'px'">
      <mat-grid-tile
        *ngFor="let imageItem of images"
        [rowspan]="item.rows">
        <app-gallery-item  
                        #item 
                        [image]="imageItem" 
                        [rowHeight]="rowHeight" 
                        [gutterSize]="gutterSize"
                        (click)="openGalleryItemModal(imageItem)"
                        >
        </app-gallery-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</main>
