
<div mat-dialog-title>
  <div id="photographer-id">
    <img id="photographer-img" src="{{data.userImageURL}}">
    <div id="photographer-info">
      <p>Photo by</p>
      <h3>{{data.user}}</h3>
    </div>
  </div>
  <button mat-button mat-dialog-close>
    <mat-icon aria-hidden="false" aria-label="close">control_point</mat-icon>
  </button>
</div
>
<div id="dialog-container" mat-dialog-content>  
  <div id="image-size-information">
    <mat-icon 
      aria-hidden="false" 
      aria-label="size" 
      matTooltipPosition="before"
      matTooltip="Photography size">
      photo_size_select_large
    </mat-icon>
    <span>{{imageSize}}</span>
  </div>  

  <mat-chip-list aria-label="Image tags" >
    <mat-chip *ngFor="let tag of tagsList">{{tag}}</mat-chip>
  </mat-chip-list>

  <div id="image-container">
    <img 
      [src]="data.fullHDURL" 
    />      
  </div>  

  <div id="icons">
    <mat-icon 
      aria-hidden="false" 
      aria-label="likes" 
      matTooltip="Likes" 
      matBadge="{{data.likes}}" 
      matBadgePosition="above after">
        favorite
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="favorite"
      matTooltip="Favorite" 
      matBadge="{{data.favorites}}" 
      matBadgePosition="above after">
      star
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="views" 
      matTooltip="Views" 
      matBadge="{{data.views}}" 
      matBadgePosition="above after">
      remove_red_eye
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="downloads" 
      matTooltip="Downloads" 
      matBadge="{{data.downloads}}" 
      matBadgePosition="above after">
      cloud_download
    </mat-icon>
  </div>
</div>



