
<div mat-dialog-title>
  <div id="photographer-id">
    <p>Photo by</p>
    <h3>Mairo</h3>
  </div>
  <button mat-button mat-dialog-close>
    <mat-icon aria-hidden="false" aria-label="close">control_point</mat-icon>
  </button>
</div
>
<div id="dialog-container" mat-dialog-content>
  <mat-chip-list aria-label="Image tags">
    <mat-chip>One fish</mat-chip>
  </mat-chip-list>

  <div id="image-container">
    <img 
      [src]="data?.src" 
      [alt]="data?.alt"
    />
  </div>  

  <div id="icons">
    <mat-icon 
      aria-hidden="false" 
      aria-label="likes" 
      matTooltip="Likes" 
      matBadge="22" 
      matBadgePosition="above after">
        favorite
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="favorite"
      matTooltip="Favorite" 
      matBadge="22" 
      matBadgePosition="above after">
      star
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="views" 
      matTooltip="Views" 
      matBadge="22" 
      matBadgePosition="above after">
      remove_red_eye
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="downloads" 
      matTooltip="Downloads" 
      matBadge="22" 
      matBadgePosition="above after">
      cloud_download
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="size" 
      matTooltip="Photography size" 
      matBadge="22"
      matBadgePosition="above after">
      photo_size_select_large
    </mat-icon>
  </div>
</div>



